header{
    min-height: 100vh;
    padding-top: 2.5rem;
    overflow: hidden;
}

.header-container {
    /* border: 2px solid red; */
    text-align: center;
    height: 100%;
    position: relative;
    /* overflow: hidden; */

}

.header-container h1 {
    font-size: 1.8rem;
}

.header-container h5 {
    margin: 1px 0;
    font-size: 18px;
}

.header-container .h5 {
    font-size: 14px;


}

.header-container .header-icons {
    margin-bottom: 25px;
}

.header-container .header-icons a {
    margin: 0 6px;
}

/* button */
.cta {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

/* social icons */
.header-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    position: absolute;
    bottom: 3rem;
    left: 0;
}

.header-socials a .img {
    width: 18px;
    height: 18px;
}

.header-socials::after{
    content: '';
    width: 1px;
    height: 3rem;
    background-color: var(--color-primary);
}

/* image */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 20rem;
    height: 30rem;
    margin: 0 auto;
    margin-top: 4rem;
    overflow: hidden;
    border-radius: 7rem 7rem 0rem 0rem;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.scroll-down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
    font-weight: 300;
}

.boxes{
    position: absolute;
    /* left: 500px; */
    z-index: -100;

}

.box1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(160, 160, 38);
    left: 30%px;
    top: 150px;
    animation-name: ball1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;


}

.box2 {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: rgb(160, 160, 38);
    left: 10%;
    top: 700px;
    animation-name: ball2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;



}

.box3 {
    width: 80px;
    height:80px;
    /* border-radius: 50%; */
    background-color: rgb(160, 160, 38);
    left: 50%;
    top: 100px;
    animation-name: ball3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;



}


/* media queries */

@media screen and (max-width: 1024px){
    /* .container {
        background-color: red;
    } */

    header {
        min-height: 75vh;
        /* padding-top: 1rem; */

    }

    
}


@media screen and (max-width: 600px){ 
    .header-socials, .scroll-down {
        display: none;
    }

    header {
        min-height: 100vh;
    }

}


/* animations */
/* animations */
/* animations */
@keyframes ball1 {
    0%{
        transform: translateX(700px) scale(0.5) ; background-color: rgb(38, 131, 160)
    }
  
    50%{
        transform: translateY(650px) scale(0.1) ;background-color: rgb(108, 155, 153)
    }
    100%{
        transform: translateY(-110px) scale(1) ;background-color: rgb(0, 70, 161)

    }
}

@keyframes ball2 {
    0%{
        transform: translateY(-700px) scale(0.7) ;    background-color: rgb(38, 131, 160);

    }
  
    50%{
        transform: translateX(650px) scale(0.1) ;    background-color: rgb(108, 155, 153);

    }
    100%{
        transform: translateY(-110px) scale(0.6) ;    background-color: rgb(0, 70, 161);


    }
}

@keyframes ball3 {
    0%{
        transform: translateY(700px) scale(0.8) rotate(90deg) ;    background-color: rgb(38, 131, 160);

    }
  
    50%{
        transform: translateX(-850px) scale(0.3) rotate(180deg) ;    background-color: rgb(108, 155, 153);

    }
    100%{
        transform: translateY(-50px) scale(1.64) rotate(360deg) ;    background-color: rgb(0, 70, 161);


    }
}